<form [formGroup]="loginForma" (ngSubmit)="login()">
    <p-card header="Ingresar al sistema" [style]="{ width: '360px'}">
      
        <div class="field">
            <label form="email">Correo Electronico</label>
            <input
             type="text"
             pInputText
             formControlName="email"
             class="w-full"
             name="email"
             placeholder="Teclea tu Correo Electronico"
             />
        </div>

        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['required']">Email requerido</div>
            <div *ngIf="email.errors?.['email']">Debe ser valido</div>
        </small>

        <div class="field">
            <label form="password">Contraseña</label>
            <input
             type="password"
             pInputText
             formControlName="password"
             class="w-full"
             name="password"
             placeholder="Teclea tu Contraseña"
             />
        </div>
        
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['required']">Contraseña requerida</div>
            <div *ngIf="password.errors?.['minlegth']">Debe ser valido</div>
            <div *ngIf="password.errors?.['pattern']">Debe contener una minuscula, una mayuscula, un caracter especial y un minimos de 8 caracteres</div>
        </small>
        
        <p-button label="Ingresar" styleClass="w-full" [disabled]="loginForma.invalid" type="submit"></p-button>
        <div class="mt-2">
            ¿Ya te registraste? <a routerLink="/register" >Registrate</a>
        </div>
        

    </p-card>
</form>