<form [formGroup]="loginForma">
    <p-card header="Ingresar al sistema" [style]="{ width: '360px'}">
        <div class="field">
            <label form="email">Correo Electronico</label>
            <input
             type="text"
             pInputText
             formControlName="email"
             class="w-full"
             name="email"
             placeholder="Teclea tu Correo Electronico"
             />
        </div>

        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['requerid']">Email requerido</div>
            <div *ngIf="email.errors?.['email']">Debe ser valido</div>
        </small>
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['requerid']">Email requerido</div>
            <div *ngIf="password.errors?.['email']">Debe ser valido</div>
        </small>
        <div class="field">
            <label form="password">Contraseña</label>
            <input
             type="text"
             pInputText
             formControlName="password"
             class="w-full"
             name="password"
             placeholder="Teclea tu Contraseña"
             />
        </div>

        <p-button label="Ingresar" styleClass="w-full"></p-button>
        <div class="mt-2">
            ¿Ya te registraste? <a routerLink="/register" >Registrate</a>
        </div>




    </p-card>
</form>